
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h1>Pdf Raporları</h1>
<a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-dark">Statik Rapor</a>
<h1>Pdf Raporları 2</h1>
<a href="/PdfReport/StaticCustomerReport/" class="btn btn-outline-primary">Statik Rapor 2</a>